<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="city">City: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <br>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <input type="submit" value="Update">
    <td><a th:href="@{/users}">Main</a></td>
</form>
<br>
<form th:method="delete" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>