<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<table th:border ="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>Age</th>
    </tr>
    <tr>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getCity()}">City</td>
        <td th:text="${user.getAge()}">Age</td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <!--<td><a th:href="@{/users/delete={id}(id=${user.getId()})}">Delete</a></td>-->
        <td><a th:href="@{/users}">Main</a></td>
        <br>
        <form th:method="delete" th:action="@{/users/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete">
        </form>
    </tr>
</table>
</body>
</html>